.column {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
}

.copy {
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: @lg-min;
  padding: @padding;

  & > * {
    margin-bottom: @padding;
  }

  p {
    line-height: 2.0;
  }
}

.heading {
  color: @gray-60;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.fa {
  .fa();
}

.fa-fw {
  .fa-fw();
}

.page {
  .position(absolute; 0; 0; auto; 0);
  .transition(opacity; .4s);
  opacity: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.stretch {
  flex-grow: 2;
}

.zoom {
  .position(absolute; auto; 0.8rem; 0.8rem; auto);
  .transition();
  color: @faded-white;
  font-size: 2.2rem;
  opacity: 0;

  &.in:before {
    content: @fa-var-search-plus;
  }

  &.out:before {
    content: @fa-var-search-minus;
  }
}
