include ../shared/header.pug

doctype html
html(lang='en')
  head
    title Sign Partners, Inc. - #1 Sign Company in Atlanta
    link(href='//fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/assets/app.css')
    script(type='text/javascript' src='/assets/app.js' defer)
  body
    block content
