extends ./shared/layout.pug

block content
  +header('contact')


  .contact
    .other.row
      .item.column
        h3.label Phone
        a(href='tel:770-980-0100') 770-980-0100
      .item.column
        h3.label Fax
        | 770-980-0987
      .item.column
        h3.label Email
        a(href='mailto:mail@signpartners.com') mail@signpartners.com

    .address.
      2774 N. Cobb Parkway, Suite 109#[br]
      Box #315#[br]
      Kennesaw, GA 30152

    iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d271078.4217896288!2d-84.66474189693047!3d33.897618747916006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x6c15c8495bfcf1c8!2sSign+Partners!5e0!3m2!1sen!2sus!4v1465949278936" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

