doctype html
html(lang='en')
  head
    title Sign Partners, Inc. - #1 Sign Company in Atlanta
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')

    link(href='//fonts.googleapis.com/css?family=Raleway:300,400|Open+Sans:300,400' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/assets/app.css')

    - script = process.env.NODE_ENV === 'production' ? 'app-min.js' : 'app.js'
    script(type='text/javascript' src=`/assets/${script}` defer)
  body
    #root
