extends ./shared/layout.pug

block content
  +header('signs')

  .signs
    nav.categories.row
      .category.active All
      each name in signs.categories
        .category= name
    .cards.row
      each card in signs.cards
        .card
          .aspect
