extends ./shared/layout.pug

block content
  +header('signs')

  .signs
    nav.categories.row
      .category.active All
      each name in signs.categories
        .category= name
    .cards.row
      each card in signs.cards
        .card
          .aspect
          .details
            h2.name= card.name
            .description= card.description
          i.fa.zoom

  .fullscreen
    .image(style=`background-image: url(${home.hero});`)
