extends ./shared/layout.pug

block content
  +header('signs')

  .signs
    nav.categories.row
      .category.active All
      .category Commercial
      .category Edge-lit glass
      .category Residential
      .category Real-estate
    .cards.row
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
      .card
        .aspect
