nav.footer.row
  .column
    h3.label Sign Partners, Inc.
    .contact-info
      | 2774 N. Cobb Parkway, Suite 109
      br
      | Box #315
      br
      | Kennesaw, GA 30152
      br
      | #[a(href='tel:770-980-0100') 770-980-0100] - phone
      br
      | 770-090-0987 - fax
      br
      a(href='mailto:mail@signpartners.com') mail@signpartners.com
  .column.stretch
    h3.label Navigation
    ul.nav
      li.nav-item
        a(href='/') Home
      li.nav-item
        a(href='/about.html') About
      li.nav-item
        a(href='/signs.html') Signs
      li.nav-item
        a(href='/services.html') Services
      li.nav-item
        a(href='/contact.html') Contact
  .column
    include ./brand.pug
