mixin header(page)
  nav.header
    h1.brand
      a(href='/') Sign Partners, Inc.
    a.page(href='/about.html' class=(page == 'about' ? 'active' : '')) About
    a.page(href='/signs.html' class=(page == 'signs' ? 'active' : '')) Signs
    a.page(href='/services.html' class=(page == 'services' ? 'active' : '')) Services
    a.page(href='/contact.html' class=(page == 'contact' ? 'active' : '')) Contact
