.contact {
  .address {
    font-size: 1.8rem;
    line-height: 2.0;
    padding-bottom: @padding;
    text-align: center;
  }

  .item {
    font-size: 1.4rem;
    padding: @padding;
    text-align: center;
  }

  .label {
    text-transform: uppercase;
  }

  .map {
    border-radius: @padding;
    margin-bottom: @padding;
  }

  .other {
    background: @blue;
    color: white;
    font-weight: 300;
  }
}
