.contact {
  font-size: 1.6rem;
  line-height: 0;

  & > * {
    margin-bottom: @padding;

    &:first-child, &:last-child {
      margin-bottom: 0;
    }
  }

  .address {
    font-size: 1.8rem;
    line-height: 2.0;
    text-align: center;
  }

  .item {
    line-height: initial;
    padding: @padding;
    text-align: center;
  }

  .label {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .map {
    border-radius: @padding;
    opacity: 0.7;
    pointer-events: none;
  }

  .other {
    background: @blue;
    color: @faded-white;
    font-weight: 300;
    justify-content: center;
  }
}
