.header {
  display: flex;
  height: 6.0rem;
  line-height: 1.0;
  margin-bottom: @padding;

  .brand {
    flex-grow: 2;
    flex-shrink: 0;
    font-size: 3.0rem;
    font-weight: 300;
    padding: 1.5rem;
  }

  .page {
    font-size: 1.8rem;
    padding: 2.1rem;
    text-transform: uppercase;

    &.active, &:hover {
      border-bottom: 0.4rem solid @blue;
    }
  }
}
