.fullscreen {
  .position(fixed; 0; 0; 0; 0);
  pointer-events: none;

  .image {
    .transition(opacity);
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100%;

    &.show {
      opacity: 1.0;
      pointer-events: auto;
    }
  }
}

.signs {
  .aspect {
    .transition();
    background: #000;
    opacity: 0;
    padding-top: 75%;
  }

  .card {
    .transition(opacity);
    background: @gray-90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: @faded-white;
    cursor: pointer;
    margin-bottom: @padding;
    opacity: 0;
    position: relative;

    @media (min-width: @lg-min) {
      margin-right: 2%;
      width: 32%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (max-width: @md-max) {
      margin-right: 4%;
      width: 48%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (max-width: @sm-max) {
      margin-right: 0%;
      width: 100%;
    }

    &:hover {
      .aspect  { opacity: 0.7 }
      .details { opacity: 1.0 }
      .zoom    { opacity: 1.0 }
    }

    &.show {
      opacity: 1.0;
    }
  }

  .cards {
    margin: @padding auto 0;
    padding: 0 @padding;
  }

  .categories {
    background: @blue;
    color: @faded-white;
    justify-content: center;
    padding: 1.2rem;
  }

  .category {
    .transition();
    border-radius: 1.2rem;
    cursor: pointer;
    margin: 0.2rem 0.6rem;
    padding: 0.3rem 1.2rem;
    text-transform: capitalize;

    &.active, &:hover {
      background: @faded-white;
      color: @blue;
    }
  }

  .description {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0.4rem;
  }

  .details {
    .position(absolute; 50%);
    .transition();
    height: 0;
    opacity: 0;
    text-align: center;
    width: 100%;
  }

  .more {
    .transition();
    background: white;
    border: 0.2rem solid @blue;
    border-radius: @padding;
    color: @blue;
    cursor: pointer;
    display: block;
    margin: 0 auto @padding;
    outline: none;
    padding: @padding/4 @padding/2;

    &:hover {
      background: @blue;
      color: @faded-white;
    }
  }

  .name {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: -2.4rem;
  }

  .zoom {
    .position(absolute; auto; 0.8rem; 0.8rem; auto);
    .transition();
    font-size: 2.2rem;
    opacity: 0;

    &:before {
      content: @fa-var-search-plus;
    }
  }
}
